@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

html {
  font-family: "Poppins", sans-serif;
}
/* body {
  overflow-y: hidden;
} */

input:focus {
  outline: none;
}
.card-shadow {
  box-shadow: -7px 7px 14px rgba(0, 117, 133, 0.1);
}
::-webkit-scrollbar {
  width: 4px;
  border-radius: 9999px;
  background: linear-gradient(270deg, #003063 49.75%, #0079fa 40%);
}
::-webkit-scrollbar-thumb {
  background-color: #00ddfb;
  border-radius: 13px;
}

.main_btn_color {
  background: linear-gradient(
    270deg,
    #001b37 -11.67%,
    #004083 49.75%,
    #0079fa 100%
  );
}
.card_btn_color {
  background: linear-gradient(
    270deg,
    #001b37 -11.67%,
    #750075 49.75%,
    #c430ff 100%
  );
}

.input-shadow {
  box-shadow: 0px 4px 10px rgba(0, 221, 251, 0.1);
}

.input-shadow:focus {
  box-shadow: 0px 1px 10px 0 rgba(0, 221, 251, 0.38);
}
.input-shadow::placeholder {
  letter-spacing: 0.8px;
}

.main_btn {
  /* text-transform: uppercase; */

  border-radius: 8px;
  @apply text-white tracking-wider;
}

.policies-box-shadow {
  box-shadow: 0 -3px 8px 2px rgba(0, 0, 0, 0.3);
}
.cookies-box-shadow {
  box-shadow: 0 -3px 8px 2px rgba(0, 0, 0, 0.1);
}

.bg-policies {
  background: linear-gradient(
    270deg,
    rgba(0, 35, 71, 0.9) -11.67%,
    rgba(6, 77, 152, 0.9) 49.75%,
    rgba(0, 124, 255, 0.8) 100%
  );
}

.google-border {
  box-shadow: inset 0 0 0 0.7px #488cfc;
}
.github-border {
  box-shadow: inset 0 0 0 0.7px #001b37;
}
.linkedin-border {
  box-shadow: inset 0 0 0 0.7px #004d9d;
}

.scale-card {
  @apply duration-200 transition;
}

.card:hover .scale-card {
  transform: scale(1.2);
}

.choose-gradient {
  background: linear-gradient(90deg, #6b00f2 0%, #0079fa 100%);
}

#candidate:checked + .card {
  @apply bg-[#90EEFB];
}
#recruiter:checked + .card {
  @apply bg-[#F2CBFF];
}

.sidebar-gradient {
  /* background: linear-gradient(
    168.86deg,
    #00346b 1.08%,
    #0079fa 51.57%,
    #04d5f1 100%
  ); */

  background: linear-gradient(
    168.86deg,
    #6b00f2 1.08%,
    #0047ff 53.94%,
    #00e0ff 100%
  );
}

.sidebar-link {
  @apply text-white text-sm font-medium hover:text-blue-300 transition duration-200 tracking-wide w-full block px-2 py-2;
}
